.navbar {
    position: fixed;
    top: 0;
    background-color:whitesmoke;
}

.navbar a{
    float: left;
    padding: 10px;
    display: block;
    color: black;
}
.navbar a:hover {
    background-color: green;
    color: white;
}