/**** GENERAL STYLING ****/

html {
    scroll-behavior: smooth; /* ensures that the page scrolling is smooth when nav buttons are used.*/
}


/* Body */
body {
    margin: 0%; /*This ensures the site displays all the way to the edge of the browser screen.*/   
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden; /* This prevents the horizontal scroll bar from appearing when the quote is hovered over. */
    user-select: none; /* This prevents the text from being highlighted by the user.*/
}

/* This section contributes to the fade effect for the page that occurs when the page is loaded. */
body.fade-out {
    opacity: .1; /*sets the total opacity at the start of the page load */
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; /* Capitalizing all h1 headings */
    font-family: "Trebuchet MS", Optima; /* sets the font family of all h1 */
    text-align: center; 
    margin-top: 3%; /*Adds a small margin above h1 elements*/ 
    color: #1a1a1a;
}

/* Heading 1 element hover effect */
h1:hover {
    filter: grayscale(5%); /* Adds a slightly gray when hovered over */
    transform: scale(1.1); /* Increases size when hovered over. */
    transition: transform 1s; /* Causes the transformtaion to last 1 second. */
}

/* Styling for portfolio title text */
.white-text {
    color: #fff; /* Changes the color of portfolio title text */
    padding-top: 10vh;
}

/*Paragraph elements*/
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; /* Justify text within paragraph elements */
    letter-spacing: .1vw; /* This expands the text slightly */
    font-size: 1.5vw; /* relative font size to the viewport width */
    padding-left: 1vw;
    padding-right: 1vw; 
    color: whitesmoke;
}

p:hover {
    transition: transform 1s; /*This makes the transform effect last one second */
    transform: scale(1.01); /* This makes the paragraph increase slightly in size when hovered over*/
}

/*Center class applies to all elements with the class "center" */
.center {
    text-align: center; 
}

.center:hover {
    transition: transform 2s; /* This makes the transition effect last 2 seconds */
    transform: scale(1.1); 
}

/* Anchor Elements */
a {
    color: blue; /* Ensures all links are blue */
    cursor: pointer;
    text-decoration: underline;
}

/* Quotation Elements */
q {
    font-style: italic; /* This makes the quote italicized */
}

/* Image elements */
img {
    filter: grayscale(75%);
    border-radius: 8px; /* Gives all images slightly rounded corners */
    max-width: 100%; /*Ensures all images stay within the width of their container */
    height: 100%;
    display: block; /* By specifyin block display we can ensure our images are able to be centered */
    margin: auto auto auto auto;
}

img:hover {
    filter: grayscale(5%);
}
/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px or smaller, the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Footer styling */
footer { 
    padding: 2%;
    background-color: black;
    color: whitesmoke;
}
/****** END OF GENERAL STYLING ******/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden;
    background-color: #0D0208;
    position: fixed; /* keeps the navbar on the top as the document is scrolled */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /*This makes the navbar span the entire width of the page */
    z-index: 1; /* Makes the navbar display on top of other elements */
    -webkit-animation: moveNav 5s; /* This applies the moveNav animation below for Safari 4.0-8.0 */
    animation: moveNav 5s; /* This applies the moveNav animation for all other browsers */
}

/* animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left */
    to {left: 0vw;} /* This moves the navbar into place on the screen */
}

/* Navbar links */
.Navbar a {
    float:left;
    display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white; /* navbar font color */
    padding: .75vw 1vw; /* Adds padding around our text */
    text-decoration: none; /* Remives underlines under navbar text */
    font-family: Avant Garde, Helvetica; 
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s; /*Animation for Safari 4.0-8.0 */
    animation: moveNavText 5.75s; /* Applies the moveNavText animation for 5.75s */
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw} /*This lowers the navbar text onto the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 20%; /* Makes each link take up 25% of navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #008F11; /* Defines the background color that will display when you hover over the link */
    color: black; 
    font-weight: bold;
    cursor: pointer;
}

/* Navbar home button */
.Navbar a.active { /* This targets the a element on the navbar with the "active" class */
    background-color: darkgray;
}

/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
#Typing_Video {
    position: fixed; /* Fixes the video to the page */
    right: 0; /* Ensure there is no space between the edge of the video and the edge of the page */
    bottom: 0;
    min-width: 100%; /* Ensures the video is displayed across the full width of the page */
    z-index: -1; /* Places the video behind the other elements */
}

/* Video will not play on screens 576px and smaller */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* Texts over the video */
.Video_Text {
    background: rgba(0,0,0,0.5); /*This provides a semi-transparent background for the text to sit over */
    color: white; 
    width: 100%; /* Ensures the video-text container fills the width of the video */
    height: 100vh;
    padding: 2vh; /* Adds padding around the video-text container so that the background goes slightly beyond the text */
    position: relative; /* Sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;} /* This moves the video text to the normal positioning on the viewport */
}

/***** END OF VIDEO STYLING *****/

/***** Slideshow Styling *****/
#Slideshow_Background {
    background: rgba(255,255,255,0.35); /* This creates a slightly transparent background that's placed over the video*/
}

.mySlides {
    display: none; /* This prevents the images from being displayed, JS will display the slideshow */
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto; /* the height of the container is automatically adjusted based on the content it is displaying*/
    padding-top: 4%;/* adds a small padding to the top of the slideshow container */
    position: relative;
    margin: auto; /* This will horizontally center the container on the page.*/
}

.Slideshow_Images {
    vertical-align: middle; /* This centers the images vertically within the slideshow container */
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,.75);
    width: 100%; /* The width of the images is automatically adjusted based on the content */
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

/* Putting the next button on the right hand side */
.Next {
    right: 0; /* moves the next button to 0% from the right side of the slideshow container*/
    border-radius: 3px 0 0 3px; /* overrides border radius from above due to specificity */
}

/*hover effect on slide show buttons */
.Previous:hover, .Next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white; /* makes the arrows white when hovered over */
}

/* Slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute; /* ensures the text is positioned within the image */
    bottom: 0; /* sets the text at the bottom of the image */
    width: 100%; /* element covers the full width of the image */
    text-align: center; /* text is center aligned within the image */
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; /* This gives slight spacing between the letters */
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

/* Styling of dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%; /* makes the dots circles by rounding each corner */
    display: inline-block; /* allows the dots to sit next to each other, rather than on new lines. */
    transition: background-color 0.6s ease;
    z-index: 1; /* ensures the dots will display above other elements. */
}

.active, .dot:hover {
    background-color: black; /* Set the color of the dots when hovered over or "active" */
}

/* Fading animation for slideshow */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade; /* does the animation for Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} /* Image starts transparent */
    to {opacity: 1;} /* Image ends opaque */
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
/****** END SLIDESHOW STYLE ******/



/***** TABLE STYLING *****/
* { /*the asterisk selects everything on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
    float: left;
    width: 50%; /* ensures the column takes up half the page's width */
    padding: 1.6%;
    height: 450px; /* This sets the height of the column to 400px may need to be adjusted */
    background-color: #008F11; 
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: #0D0208;
}

/* Inserts something after "Row" */
.Row:after {
    content: ""; /* by leaving this blank, we are allowing the footer to be displayed - removing it makes the footer overwrite a column */
    display: table; /* This tells the browser to treat the element like a table */
    clear: both; /* clears any other elements from floating on the left or the right of an element */
}
/***** END OF TABLE STYLING *****/

/**** Fixed contact button styling ****/
.Pop_Up_Button {
    position: fixed; /* element is positioned relative to the viewport and stay in the same position no matter what*/
    bottom: 1.75vw;
    left: 1.75vw;
    width: 25vw; /* sets the width relative to the viewport width*/
    background-color: whitesmoke;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@keyframes movePopup {
    from {left: -40vw;}
    to {left: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {left: -40vw;}
    to {left: 1.75vw;}
}
/***** CONTACT FORM STYLING *****/
.form-popup {
    border: 5px solid #008F11;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    left: .5vw;
}

.form-container {
    max-width: 49vw; /*relative sizing of the form container 49% of the screen*/
    padding: 1vw;
    background-color: white;
}

.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-size: 1vw;
}

/* general styling for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto; /* allows  the height to be resized depending on the content showing */
}

/* hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s; /* For Safari 4.0-8.0 */
    border-color: silver;
}

/* Submit button */
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh; /* Adds space between teh submit button and the close button*/

}

/*Close button */
.fomr-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
/***** END CONTACT FORM STYLE ******/
