/**** GENERAL STYLING ****/
/* Body */
body {
    margin: 0% /*This ensures the site displays all the way to the edge of the browser screen.*/   
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; /* Capitalizing all h1 headings */
    font-family: "Trebuchet MS", Optima; /* sets the font family of all h1 */
    text-align: center; 
    margin-top: 3%; /*Adds a small margin above h1 elements*/ 
    color: #1a1a1a;
}

/* Heading 1 element hover effect */
h1:hover {
    filter: grayscale(5%); /* Adds a slightly gray when hovered over */
    transform: scale(1.1); /* Increases size when hovered over. */
    transition: transform 1s; /* Causes the transformtaion to last 1 second. */
}

/* Styling for portfolio title text */
.white-text {
    color: #fff; /* Changes the color of portfolio title text */
}

/*Paragraph elements*/
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify; /* Justify text within paragraph elements */
    letter-spacing: 1px; /* This expands the text slightly */
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px; 
}

p:hover {
    transition: transform 1s; /*This makes the transform effect last one second */
    transform: scale(1.01); /* This makes the paragraph increase slightly in size when hovered over*/
}

/*Center class applies to all elements with the class "center" */
.center {
    text-align: center; 
}

.center:hover {
    transition: transform 2s; /* This makes the transition effect last 2 seconds */
    transform: scale(1.1); 
}

/* Anchor Elements */
a {
    color: blue; /* Ensures all links are blue */
}

/* Quotation Elements */
q {
    font-style: italic; /* This makes the quote italicized */
}

/* Image elements */
img {
    filter: grayscale(75%);
    border-radius: 8px; /* Gives all images slightly rounded corners */
    max-width: 100%; /*Ensures all images stay within the width of their container */
    height: 340px;
    display: block; /* By specifyin block display we can ensure our images are able to be centered */
    margin-left: auto; 
    margin-right: auto;
}

img:hover {
    filter: grayscale(5%);
    transition: transform 1s; /* Transition lasts 1 second */
    transform: scale(1.1);
}

/* On screens 576px or smaller, the images will be 100px tall and centered vrtically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Footer styling */
footer { 
    padding: 2%;
    background-color: white;
}
/****** END OF GENERAL STYLING ******/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden;
    background-color: #0D0208;
    position: fixed; /* keeps the navbar on the top as the document is scrolled */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /*This makes the navbar span the entire width of the page */
    z-index: 1; /* Makes the navbar display on top of other elements */
    -webkit-animation: moveNav 5s; /* This applies the moveNav animation below for Safari 4.0-8.0 */
    animation: moveNav 5s; /* This applies the moveNav animation for all other browsers */
}

/* animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left */
    to {left: 0vw;} /* This moves the navbar into place on the screen */
}

/* Navbar links */
.Navbar a {
    float:left;
    display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white; /* navbar font color */
    padding: 14px 16px; /* Adds padding around our text */
    text-decoration: none; /* Remives underlines under navbar text */
    font-family: Avant Garde, Helvetica; 
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s; /*Animation for Safari 4.0-8.0 */
    animation: moveNavText 5.75s; /* Applies the moveNavText animation for 5.75s */
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw} /*This lowers the navbar text onto the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%; /* Makes each link take up 25% of navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #008F11; /* Defines the background color that will display when you hover over the link */
    color: black; 
    font-weight: bold;
}

/* Navbar home button */
.Navbar a.active { /* This targets the a element on the navbar with the "active" class */
    background-color: darkgray;
}

/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
#Typing_Video {
    position: fixed; /* Fixes the video to the page */
    right: 0; /* Ensure there is no space between the edge of the video and the edge of the page */
    bottom: 0;
    min-width: 100%; /* Ensures the video is displayed across the full width of the page */
    z-index: -1; /* Places the video behind the other elements */
}

/* Video will not play on screens 576px and smaller */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* Texts over the video */
.Video_Text {
    background: rgba(0,0,0,0.5); /*This provides a semi-transparent background for the text to sit over */
    color: white; 
    width: 100%; /* Ensures the video-text container fills the width of the video */
    padding: 20px; /* Adds padding around the video-text container so that the background goes slightly beyond the text */
    position: relative; /* Sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;} /* This moves the video text to the normal positioning on the viewport */
}

/***** END OF VIDEO STYLING *****/

/***** TABLE STYLING *****/
* { /*the asterisk selects everything on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
    float: left;
    width: 50%; /* ensures the column takes up half the page's width */
    padding: 10px;
    padding-top: 3%; /* Ensures there is space between the top of the column and our headings */
    height: 400px; /* This sets the height of the column to 400px may need to be adjusted */
    background-color: #008F11; 
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #0D0208;
}

/* This class is applied to the columns in the final row overriding the height and padding to provide more room for the contact form */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* Inserts something after "Row" */
.Row:after {
    content: ""; /* by leaving this blank, we are allowing the footer to be displayed - removing it makes the footer overwrite a column */
    display: table; /* This tells the browser to treat the element like a table */
    clear: both; /* clears any other elements from floating on the left or the right of an element */
}
/***** END OF TABLE STYLING *****/

/***** CONTACT FORM STYLING *****/
input[type=text] {
    width: 100%; /* Each input box covers the full width of the container */
    padding: 12px; /* Adds padding within the text box */
    border: 1px solid #ccc; /* Setting a solid border and its color */
    border-radius: 4px;
    box-sizing: border-box; /* This creates a box with a border around the contact form input boxes */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* allows the user to resixe the text boxes vertically */
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset; /*This creates a blue shadow in the text box when hovered over by the user */
}

/* Submit Button */
input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effect for submit button */
input[type=submit]:hover {
    background-color: white;  
    color: black; 
    transform: scale(1.5);
    transition: transform 1.5s; 
}

/* Form element */
form {
    border-radius: 5px; 
    background-color: #008F11;
    padding: 10px; 
    font-family: "Trebuchet MS", Optima;
}
/***** END OF CONTACT FORM STYLING *****/